{% extends "model-page.html" %}

{% block content %}
    
    <h2>Agendamentos</h2>
    
    <div>
        <ul style="font-size: 18px">
            {% for evento in evento %}
                <li>
                    <div style={% if evento.get_evento_atrasado %}      
                            "color:red"
                            {% endif %}>
                            {{ evento.titulo }} - {{ evento.get_data_evento }}
                         <a href="evento/?id={{ evento.id }}"><i class="bi bi-pencil-square"></i></a>
                        / <a href="evento/delete/{{ evento.id }}/"><i class="bi bi-trash3-fill"></i></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        
        <a href="evento/">
            <button class="button-primary" type="button">Novo Evento</button>
        </a>
    </div>

{% endblock %}