{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title>Agenda</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar-container">
                <div class="navbar-brand">
                    <a href="/">Agenda</a>
                </div>
                <div class="navbar-links">
                    <a id="Cadastro" href="/cadastro">Cadastre-se</a>
                </div>
            </div>
          </div>
    </header>

    <form action="submit" method="POST">{% csrf_token %}
        <div class="login-content">
            <h2>Login</h2>
            <label>Usuario</label>
            <input type="text" name="username"/>
            <label>Password:</label>
            <input type="password" name="password"/>
            <button type="submit">Entrar</button>
        </div>
    </form>
    
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

</body>
</html>